<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <nav class="c-navigation">
    <div class="c-navigation__logo-container">
    </div>
    <div class="c-navigation__list-container">
    <ul class="c-navigation__list">
      <li class="c-navigation__list-item c-navigation__list-item--input">
        <div class="c-navigation-search">
          <form method="GET" action="/pt-br/" class="c-navigation-search__form">
            <input type="search" class="c-navigation-search__input" name="s" placeholder="Pesquisar"><button type="submit" class="hidden">Pesquisar</button>
          </form>

      </li>
    </ul>

      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "icon-1.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>

          <li class="nav-item dropdown">
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
