<%# <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <nav class="c-navigation">
      <img src="logo_preto_type.jpg" alt="Logo WorkFlow" class="c-navigation__logo" loading="lazy">
      <div class="c-navigation__logo-container">
      </div>
      <div class="c-navigation__list-container">
      <ul class="c-navigation__list">
        <li class="c-navigation__list-item c-navigation__list-item--input">
          <div class="c-navigation-search">
            <form method="GET" action="/pt-br/" class="c-navigation-search__form">
              <input type="search" class="c-navigation-search__input" name="s" placeholder="Search a room"><button type="submit" class="hidden">Search a room</button>
            </form>

        </li>
          <li class="c-navigation__list-item"><a class="btn btn-primary" href="">Log in</a>
          </li>
      </ul>

        </div>
      </div>
      <div class="container-fluid">
        <%= link_to "#", class: "navbar-brand" do %>
          <%# image_tag "icon-1.png" %>
        <%# end %>
    <%# </nav>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto"> %>
        <%# if user_signed_in? %>
          <%# <li class="nav-item active"> %>
            <%# link_to "Home", "#", class: "nav-link" %>
          <%# </li>

          <li class="nav-item dropdown">
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown"> %>
              <%# link_to "Action", "#", class: "dropdown-item" %>
              <%# link_to "Another action", "#", class: "dropdown-item" %>
              <%# link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
            <%# </div>
          </li> %>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      <%# </ul>
    </div>
  </div>
</div>  %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "icon-1.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://avatars.githubusercontent.com/u/103535954?v=4", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "See my bookings", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Rent my work space", new_work_space_path, class: "dropdown-item" %>
              <%= link_to "View my work spaces", my_work_spaces_work_spaces_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
