<%= simple_form_for(@work_space) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%# linha abaixo é uma tentativa de inserir na mão o current_user, mas é pasado como string. %>
    <%# <%= f.input :user, label: 'Enter user who owns this space', placeholder: 'Owner', error: 'Owner is mandatory.' %> %>
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
