<h1>Work Spaces</h1>

<ul>
  <% @work_spaces.each do |work_space|%>
    <%= link_to work_space do %>
      <li>
        <%= work_space.name   %>
        <%= work_space.price %>
        <%= work_space.description %>
        <%= work_space.user.first_name %>
      </li>
    <%end %>
  <%end%>
</ul>
