<h3>Work space Info</h3>

<p style="color: green"><%= notice %></p>

<%= render @work_space %>

<div>
  <%= link_to "Back to work spaces", work_spaces_path, class: "btn btn-secondary" %>
  <% if policy(@work_space).destroy? %>
    <%= link_to "Delete space", work_space_path(@work_space), data: { turbo_method: :delete } %>
  <% end %>
</div>

<div>
  <%= link_to "Reserva", new_booking_path, class: "btn btn-secondary" %>
</div>
