<div class="card-trip">
<% if @work_space.photos.attached? %>
  <% @work_space.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 200, width: 400 %>
  <% end %>
<% else %>
  <%= image_tag "no_img.png" %>
<% end %>

  <div id="ws-show">
    <div>
      <strong><%= @work_space.name %></strong>
    </div>
    <div>
      <%= number_to_currency(@work_space.price) %> per day.
    </div>
    <div>
      <%= @work_space.description %>
    </div>
  </div>
  <div class="btn-show">
    <%= link_to "Book this workspace", new_work_space_booking_path(@work_space), class: "btn btn-dark" %>
    <div>
      <%= link_to "Back to workspaces", work_spaces_path, class: "btn btn-outline-secondary" %>
      <% if policy(@work_space).destroy? %>
        <%= link_to "Delete space", work_space_path(@work_space), data: { turbo_method: :delete } %>
      <% end %>
    </div>
  </div>
</div>
